* {
    box-sizing: border-box;
}
.App {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.text-white {
    color: white;
    text-decoration: none;
}

.shop-list {
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    margin: 1rem;
}

.shop-list h3,
.shop-list p {
    text-align: left;
    margin: 2px;
    padding: 2px;
}

.uol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-decoration: none;
    color: black;
}
