.App {
    text-align: center;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.facebook {
    box-sizing: border-box;
    position: relative;
    width: 220px;
    margin: 0.2em;
    padding: 5px 15px 5px 15px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4c69ba;
    background-image: linear-gradient(#4c69ba, #3b55a0);
    font-family: 'Helvetica neue', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354c8c;
}
.facebook:hover,
.facebook:focus {
    background-color: #5b7bd5;
    background-image: linear-gradient(#5b7bd5, #4864b1);
}

.facebook svg {
    position: relative;
    top: 10%;
    font-size: 1.2rem;
    padding-right: 15px;
}
